version: '3'
services:
  app:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    image: svbackend/laravel-crud
    ports:
      - 8080:80
    volumes:
      - .:/srv/app
    links:
      - postgres
      - pgadmin
      - redis
    environment:
      DB_HOST: mysql
      DB_DATABASE: laravel
      DB_USERNAME: laravel
      DB_PASSWORD: laravel
  mysql:
    image: mysql:5.7
    ports:
      - 13306:3306
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      ports:
        - 5050:80
      environment:
        PMA_HOST: mysql
        PMA_PORT: 3306
        PMA_USER: root
        PMA_PASSWORD: root